.App {
  text-align: center;
  display: flex;
  max-width: 100%;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.wrapper {
  flex-flow: column wrap;
}

div {
  padding: 10px;
}

button {
  color: white;
  background: blue;
  font-weight: 700;
  font-size: 15px;
  margin: 20px 0;
  height: 30px;
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;
}
